---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Zeminni - Home">
  <main>
    <ul>
      <li>
        <a href="/boardgame">/boardgame</a>
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    font-size: 2rem;
  }
  a,
  a:visited {
    color: #aaaaff;
  }
</style>
