---
import type { Item } from '../shared/bgg/schemas/Item';
import BoardgameTitle from './BoardgameTitle.astro';

interface Props {
  title?: string;
  boardgame: Item;
}
const { title, boardgame } = Astro.props;
---

<header>
  <h1>
    <BoardgameTitle title={title} boardgame={boardgame} />
  </h1>
  <div>
    <p>
      {boardgame.age.min}세 이상, {boardgame.players.min}인 ~ {
        boardgame.players.max
      }인
    </p>
  </div>
</header>

<style>
  h1 small {
    color: gray;
  }
</style>
